<div class="header-button-container">
  <%= button_to "Home", root_path, method: :get %>
  <%= button_to "v#{version}", "https://dependabot-gitlab.gitlab.io/dependabot", method: :get, style: "margin-left: 5px" %>
  <%= button_to "Logout", logout_path, method: :delete, title: "Logout", style: "margin-left: 5px" unless AppConfig.anonymous_access %>
</div>
